:root {
  --text-color: black;
  --bg-color: white;

  --button-border-color: black;
  --button-bg-color: white;
  --button-text-color: black;
  --button-hover-color: gray;
  --button-disabled-bg-color: #aaa;
  --button-disabled-text-color: #222;
}

html, body {
  margin: 0;
  font-family: 'Open Sans', Helvetica, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 0.75rem;
}
